<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/artists">Espotifai</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/artists">Artistas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mi música</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  </nav>




  <div class="row">
    <div class="col-sm-8">
      <h1><%= @artist.name %></h1>
      <h2>Albums (<%= @albums.count %>)</h2>
      <div class="row">
        <% @albums.each do |i| %>
          <div class="col-sm-3">
            <div class="card" style="width: 8rem;">
                <img class="card-img-top" height="110" src="<%= i.image_url %>" alt="Artist image">
                <div class="card-body">
                  <h6 class="card-title"><%= i.name %></h6>
                  <p class="card-text"><%= i.released_at %></p>

                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
        <img src="<%= @artist.image_url %>" alt="Foto del artista">
    </div>

  </div>
</body>
</html>
